/*@layer tailwind {*/
/*    @tailwind base;*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}

body{
    min-height: 100dvh;
}